
@font-face {
	src: url ('./fonts/AvenirNextCyr-Regular.woff');
	font-family: AvenirNext;
	font-weight: 400;
}

@font-face {
	src: url ('./fonts/AvenirNextCyr-Light.ttf');
	font-family: AvenirNext;
	font-weight: 100;
}


@font-face {
	src: url('./fonts/OpenSans-Bold.ttf');
	font-family:OpenSans;
	font-weight:700;
}


@font-face {
	src: url('./fonts/OpenSans-Regular.ttf');
	font-family:OpenSans;
	font-weight:300;
}

@font-face {
	src: url('./fonts/ProximaNova-Reg.otf');
	font-family:ProximaNova;
	font-weight:300;
}


@font-face {

src: url('./fonts/Montserrat-Regular.ttf');
	font-family:Montserrat;
	font-weight:300;


	}


	@font-face {
	src: url('./fonts/OpenSans-Light.ttf');
	font-family:OpenSans;
	font-weight:100;
}



 @keyframes pulse-BlockLinkAnimation {
  from {
    transform: scale3d(1, 1, 1);
  
   
  }

  50% {
   transform: scale3d(3, 3, 3);
   transform:rotateZ(-10deg);
  }

  to {
    transform: scale3d(4, 4, 4);
    transform:rotateY(20deg);
    
  }
}

  .pulse:hover { 
  	animation: pulse-BlockLinkAnimation 3s infinite; }
                                   
 .header{ display: flex;
	justify-content: space-between;
	padding: 40px 51px;
	font-family: AvenirNext, sans-serif;

}

 .background-image { background-image: url("images/background.jpg");
 height: 900px;
 background-repeat: no-repeat;
 background-size: cover; }

.menu {
 	display: flex;
 	width: 500px;
 	list-style: none;
 	justify-content: space-between; 
 	font-family: AvenirNext, sans-serif;

} 

 .menu-item {
 color: #ffffff;
 font-size: 13px;
 text-transform: uppercase; 

 }

 .menu-link {
 	color: #ffffff;
 	text-decoration: none;


 }
 
   .title{ 
	color: #ffffff;
	font-size:40px;
   text-transform: uppercase;
   margin: 557px 0px 0px 112px;
   font-family: AvenirNext, sans-serif;;
   font-weight: 100;

 }
 .subtitle{ 
 	color: #ffffff;
 	font-size:15px;
 	text-transform: uppercase;
 	margin: 6px 0px 0 279px;
 	font-family: OpenSans,sans-serif;

 }
 .main-page{
 	background: #a2ca28;

 }

 .main-menu {
 	      padding: 108px 0 71px;
 }

 .block
  {
  display: flex;
  list-style: none;
  width: 1150px;
  justify-content: space-around;
  color: #ffffff;
  margin: 0 auto;
 
 }

 .block-image_container {
 	height: 60px;
 }

 .block-subtitle {

 	font-family: OpenSans,sans-serif;
 	font-size: 24px;
 	font-weight: 300;
    padding: 2px 0 0 0;

 }

 .block-text {
  
  font-family:ProximaNova,sans-serif;
  font-size: 14px;
  font-weight:300;
  padding: 27px 0 0 0;
  max-width: 250px;
  line-height: 2;
  
  }


 .block-link {
     
     display: block;
     padding: 10px 0 0 0;
	 color: #ffffff;
	 text-decoration: none;
	 font-family: ProximaNova,sans-serif;
	 font-size: 14px;
     font-weight:300;
     
   

}

 .section {
  display: flex;
  width: 1184px;
  margin: 0 auto;

}

 .square {
   background: white;
   width: 390px;
   padding: 35px 38px 3px 17px;
   text-align: center;

}

 .text-class {
	color: #656e74;
	font-size: 14px;   	 
	font-family:OpenSans;
	font-weight:300;
	line-height: 2;
	padding: 26px 13px 2px 11px;
}





 .link-class {
color:#a2ca28;
font-size: 14px;
font-family:OpenSans;
font-weight:300;
 padding: 0px 15px 0px 17px;

}

  .h3-class {
	color: #fd634e;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	font-family:Montserrat, sans-serif;
	font-weight:300;
	padding: 19px 14px 1px 0px;
}

  .h2-class {
	color:#a2ca28;
	font-size:35px;
	text-transform: uppercase;
	text-align: center;
	font-family:OpenSans;
	font-weight:100;
	padding: 4px 42px 8px 44px;
}




 .footer {
	background: #0d1119;	
	
}

 .footer-container {

	display: flex;
	justify-content: space-between;
    list-style: none;
    width: 1180px;
    margin: 0 auto;
    box-sizing: border-box;
     height: 157px;

}

.form {
     margin: 69px 0 36px 12px;

 
.input {
    border: 1px solid gray;
	padding: 10px 15px;
	color: #95a5ac;
	font-size: 14px;
	font-family: ProximaNova,sans-serif;
     padding: 14px 44px 13px 27px;
     width: 134px; }



.input2 {

	border: 1px solid gray;
	padding: 10px 15px;
	color: #95a5ac;
	font-size: 14px;
	font-family: ProximaNova,sans-serif;
     padding: 14px 46px;
      width: 263px;

}


.social-block {
	display: flex;
	justify-content: space-between;
	width: 229px; 
	list-style: none;
	 padding: 65px 16px 50px;
	

}



.icon {

	width: 54px;
    height: 52px;
	border-radius: 50%;
	position: relative;

}

 .icon:before {
 	content: '';
 	display: block;
 	position: absolute;
 	width: 100%;
 	text-align: center;
    
 }

 .icon-fb {
 	background: #2e3192;
 }

 .icon-tw {
 	background: #00aeef;
 }

 .icon-yt {
 	background: #ed3123;
 }

 .icon-ln {
 	background: #171a8f;
 }

 .icon-fb:before {
 	background-image: url("images/fb.png");
 	background-repeat: no-repeat; 
 	width: 22px;
    height: 47px;
 	background-size: 25px 25px;
 	top: 50%;
 	margin-top: -13px;
 	left:50%;
 	margin-left: -13px;

 }

 .icon-tw:before {
 	background-image: url("images/tw.png");
 	background-repeat: no-repeat; 
 	width: 25px;
    height: 45px;
 	background-size: 25px 25px;
 	top: 50%;
 	margin-top: -13px;
 	left:50%;
 	margin-left: -13px;

 }

 .icon-yt:before {
 	background-image: url("images/yt.png");
 	background-repeat: no-repeat; 
 	width: 27px;
    height: 30px;
 	background-size: 25px 25px;
 	top: 50%;
 	margin-top: -13px;
 	left:50%;
 	margin-left: -13px;

 }

.icon-ln:before {
	background-image: url("images/ln.png");
	background-repeat: no-repeat; 
 	width: 26px;
    height: 34px;
 	background-size: 25px 25px;
 	top: 50%;
 	margin-top: -13px;
 	left:50%;
 	margin-left: -13px;

}


.button {
	background: #a2ca28;
	color: #ffffff;
	padding: 11px 15px;
	font-size: 14px;
	font-family: ProximaNova,sans-serif;
	padding: 16px 42px;
	width: 186px;


}

.hover-img:before {
	content: '';
	opacity: 0;
	background: rgba(0, 0, 0, 50%);
	width: 794px;
	height: 394px;
	position: absolute;
	transition: all 2s;

}




.hover-img{
	position: relative;
	height: 394px;

}

 .section :hover.hover-title {
 	opacity: 1;
 }

 .hover-img:hover:before {
 	opacity: 1;
 }

.hover-title { position: absolute;
	 text-align: center;
	 width: 100%;
	 top: 50%;
	 margin-top: -35px;
	 opacity: 0;
	 transition: all 2s;

	}



.text-hoverh2 {

font-family:OpenSans;
font-weight:100;
font-size: 35px;
color:#a2ca28;
text-transform: uppercase;



}


.text-hoverh3 {

	font-family:Montserrat, sans-serif;
	font-weight:300;
	font-size: 14px;
	text-transform: uppercase;
    color:#fd634e;
    padding:10px 0 10px 0 ;

}




