
@font-face {
	src: url ('./fonts/AvenirNextCyr-Regular.woff');
	font-family: AvenirNext;
	font-weight: 400;
}

@font-face {
	src: url ('./fonts/AvenirNextCyr-Light.ttf');
	font-family: AvenirNext;
	font-weight: 100;
}


@font-face {
	src: url('./fonts/OpenSans-Bold.ttf');
	font-family:OpenSans;
	font-weight:700;
}


@font-face {
	src: url('./fonts/OpenSans-Regular.ttf');
	font-family:OpenSans;
	font-weight:300;
}

@font-face {
	src: url('./fonts/ProximaNova-Reg.otf');
	font-family:ProximaNova;
	font-weight:300;
}


@font-face {

src: url('./fonts/Montserrat-Regular.ttf');
	font-family:Montserrat;
	font-weight:300;


	}


	@font-face {
	src: url('./fonts/OpenSans-Light.ttf');
	font-family:OpenSans;
	font-weight:100;
}


 @keyframes DropAnimation 
 {  0% { transform: scale (1);

 }
 100% { transform: scale (2); }}


 .drop {                                  

 	animation: DropAnimation 3s infinite; }
 		
 


 .header{ display: flex;
	justify-content: space-between;
	padding: 40px 51px;
	font-family: AvenirNext, sans-serif;

}

 .background-image { background-image: url("images/background.jpg");
height: 800px;
background-repeat: no-repeat;
background-size: cover; }

.menu {
 	display: flex;
 	width: 500px;
 	list-style: none;
 	justify-content: space-between; 
 	font-family: AvenirNext, sans-serif;

} 

 .menu-item {
 color: #ffffff;
 font-size: 13px;
 text-transform: uppercase; 

 }

 .menu-link {
 	color: #ffffff;
 	text-decoration: none;


 }
 
   .title{ 
	color: #ffffff;
	font-size:40px;
   text-transform: uppercase;
   margin: 557px 0px 0px 112px;
   font-family: AvenirNext, sans-serif;;
   font-weight: 100;

 }
 .subtitle{ 
 	color: #ffffff;
 	font-size:15px;
 	text-transform: uppercase;
 	margin: 6px 0px 0 279px;
 	font-family: OpenSans,sans-serif;

 }
 .main-page{
 	background: #a2ca28;

 }

 .main-menu {
 	padding: 40px 0;
 }

 .block
  {
  display: flex;
  list-style: none;
  width: 1150px;
  justify-content: space-around;
  color: #ffffff;
  margin: 0 auto;
 
 }

 .block-subtitle {

 	font-family: OpenSans,sans-serif;
 	font-size: 24px;
 	font-weight: 300;
    padding: 16px 0 0 0;

 }

 .block-text {
  
  font-family:ProximaNova,sans-serif;
  font-size: 14px;
  font-weight:300;
  padding: 27px 0 0 0;


 }


 .block-link {
     
     display: block;
     padding: 10px 0 0 0;
	 color: #ffffff;
	 text-decoration: none;
	 font-family: ProximaNova,sans-serif;
	 font-size: 14px;
     font-weight:300;

    

}

 .section {
  display: flex;
  width: 1180px;
  margin: 0 auto;

}

 .square {
   background: white;
   width: 390px;
   padding: 40px 40px 1px 40px;
   text-align: center;

}

 .text-class {
	color: #656e74;
	font-size: 14px;
	padding: 20px 0; 	 
	font-family:OpenSans;
	font-weight:300;

}

 .link-class {
color:#a2ca28;
font-size: 14px;
font-family:OpenSans;
font-weight:300;
padding: 0 0 40px;

}

  .h3-class {
	color: #fd634e;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	font-family:Montserrat, sans-serif;
	font-weight:300;
}
  .h2-class {
	color:#a2ca28;
	font-size:35px;
	text-transform: uppercase;
	text-align: center;
	font-family:OpenSans;
	font-weight:100;
	padding:10px 0 0;

}
 .footer {
	background: #0d1119;	
	
}

 .footer-container {

	display: flex;
	justify-content: space-between;
    list-style: none;
    width: 1180px;
    margin: 0 auto;
    box-sizing: border-box;
}

.form {
 margin: 30px 0 0 0;
 
}

.input{
    border: 1px solid gray;
	padding: 10px 15px;
	color: #95a5ac;
	font-size: 14px;
	font-family: ProximaNova,sans-serif;


}

.social-block {
	display: flex;
	justify-content: space-between;
	width: 200px; 
	list-style: none;
	padding: 30px 20px 40px;
	

}

.button {
	background: #a2ca28;
	color: #ffffff;
	padding: 11px 15px;
	font-size: 14px;
	font-family: ProximaNova,sans-serif;


}

.hover-img:before {
	content: '';
	opacity: 0;
	background: rgba(0, 0, 0, 50%);
	width: 794px;
	height: 394px;
	position: absolute;
	transition: all 2s;

}




.hover-img{
	position: relative;
	height: 394px;

}

 .section :hover.hover-title {
 	opacity: 1;
 }

 .hover-img:hover:before {
 	opacity: 1;
 }

.hover-title { position: absolute;
	 text-align: center;
	 width: 100%;
	 top: 50%;
	 margin-top: -35px;
	 opacity: 0;
	 transition: all 2s;

	}



.text-hoverh2 {

font-family:OpenSans;
font-weight:100;
font-size: 35px;
color:#a2ca28;
text-transform: uppercase;



}


.text-hoverh3 {

	font-family:Montserrat, sans-serif;
	font-weight:300;
	font-size: 14px;
	text-transform: uppercase;
    color:#fd634e;
    padding:10px 0 10px 0 ;

}




